*.iml
.gradle
/local.properties
/.idea
.DS_Store
**/build
**/libs
**/captures
.externalNativeBuild
.cxx
local.properties

# Unfinished scripts
/scripts/*
!/scripts/build.sh

# Unfinished plugins
/MessageTweaks
/CustomEmojis