*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Unfinished scripts
/scripts/*
!/scripts/build.sh

# Unfinished plugins
/MessageTweaks
/CustomEmojis